@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');

.va {
  display: flex;
  align-items: center;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

a {
  color: #3b7adf;
}

a:hover {
  text-decoration: underline;
  color: #3b7adf;
}

hr {
  background: #24272c;
}

.hero {
  background: #060606;
}

.title,
.subtitle {
  color: white;
}


.navbar .navbar-item {
  color: #e4e2ff;
}

.navbar .navbar-item.is-active {
  color: #e4e2ff;
  font-weight: 700;
}

.navbar .navbar-item:hover {
  background: transparent;
  color: white;
}

.navbar .navbar-item a {
  margin-left: 1rem;
  color: #e4e2ff;
}

.blog-posts {
  min-height: 100vh;
  background: #191b1f;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.blog-posts article {
  padding: 1.5rem;
}

.blog-posts .post img {
  border-radius: 1px;
}

.blog-posts .post .post-category {
  color: #3b7adf;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}
#yelp {
 text-align: center;
 font-size: 2.2rem;
 color: white;
 font-family: 'Nunito Sans', sans-serif;
}
.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Serif', serif;
  color: #92a3ab;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

/* Restaurant name and rating stars - class*/
.Name,
.LName {
    color: black;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

#Nam {
    font-size: large;
}

.subtitle {
  font: bolder;
  font-size: xx-large;
}

.img {
height: 300px;
width: 490px;


  /* width: 50%; */
}

.footer {
  font-size: large;
  color: #060606;
}



/* search button id=Search, 
stock name id=Title,
info of stock id= listInfo
yelp recommendation info class= Content
company enter searc id=Company
zipcode id = Zipcode */

/* 324-243 yelp
200-150 */

#stockStats {
  color: white
}

#stockName {
  text-align: center;
}
